.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 24px;
    max-width: 1020px;
    padding: 0px;
    margin: 0;

    position: absolute;
    list-style: none;
}

.item {
    display: block;
    width: 240px;
    left: 730px;
    top: 419px;

    text-decoration-line: none;
    background: #FFFFFF;

    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
}

.itemImage {
    display: block;
    width: 240px;
    height: 168px;
    object-fit: cover;

    border-radius: 8px 8px 0px 0px;
}

.itemDescription {
    padding: 12px 16px;
}

.itemName {
    margin: 0;
    margin-bottom: 1px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    display: flex;
    align-items: center;
    letter-spacing: 0.15px;

    color: rgba(0, 0, 0, 0.87);
}


.itemSpecie {
    margin: 0;

    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.25px;

    color: rgba(0, 0, 0, 0.6);
}